
.team-section{
    width: 450px;
    height: 100vh;
    border-right: 1px solid rgb(179, 193, 255);
}

.team-list{
    overflow: auto;
    width: 450px;
    height: 87vh;
}
.task-list{
    overflow: auto;
    height: 87vh;
}
.task-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #96c7ff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .team-msg{
    background-color: rgb(57, 159, 255);
    color: white;
    padding: 3px 20px;
    height: fit-content;
    border-radius: 10px;
    width: fit-content;
  }